#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_coinaaa
#build/coinaaad::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_coinaaa)

DEB_INSTALL_EXAMPLES_coinaaad += debian/examples/*
DEB_INSTALL_MANPAGES_coinaaad += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix coinaaad
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f coinaaa-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake coinaaa-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_coinaaa
	src/test_coinaaa

# Ensure wrapper is set executable
binary-post-install/coinaaad:
	chmod +x $(cdbs_curdestdir)usr/bin/coinaaad
binary-post-install/coinaaa-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/coinaaa-qt
